<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.namantert">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lista_Registros" />
        <activity android:name=".Registrar_Empleado" />
        <activity android:name=".Registrar_Material" />
        <activity android:name=".Listas" />
        <activity android:name=".Lista_Empleados" />
        <activity android:name=".Listado_Materiales" />
        <activity android:name=".Reportes" />
        <activity android:name=".Compras_Registro_Clientes" />
        <activity android:name=".Listado_Registro_Compras" />
        <activity android:name=".Compra"></activity>
    </application>

</manifest>